@use '@angular/material' as mat;

// TODO can we import only the required parts of '@angular/material'
// @use '@angular/material/core/typography/typography.import';

@use '../../mat-datatable-lib/src/lib/mat-datatable-theme' as mat-datatable;
// TODO can we include this theme in mat-datatable library theme?
@use '../../mat-datatable-lib/src/directives/datatable-sort/mat-multi-sort-badge-theme' as mat-datatable-badge;

// Fonts for material
@use 'roboto-fontface/css/roboto/sass/roboto-fontface' with (
  $roboto-font-path: '~roboto-fontface/fonts'
);
@use 'material-icons/iconfont/material-icons';

// Theme for application
@include mat.core();

// Use copy of prebuild indigo-pink theme as application theme as
// npm package does not contain prebuild as scss file.
$primary: mat.define-palette(mat.$indigo-palette, 500);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

// Include theme styles for Angular Material components and
// custom themable components.
@include mat.all-component-themes($theme);
@include mat-datatable.theme($theme);
@include mat-datatable-badge.theme($theme);

// Global styles
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}
