.page-title {
  margin: 0.25em 0.5em 0.75em;
}

.content-table {
  height: 400px;
  margin: 0 1em;
  overflow: auto;
}

.mode-selection-label {
  margin: 0 0.5em 0 0;
}

.mode-selection {
  margin: 0 1em 0 0;
}

.activated-row,
.current-sort,
.selected-rows {
  margin: 2em 0 0.75em 1em;
}

.page-size-row {
  margin: 1.4em 0 1.25em 1em;
}

.current-sort-label {
  margin: 0 0.25em 0 0;
}

.sort-button-container {
  margin: 0 0 0.75em 1em;
}

.selection-button,
.sort-button {
  margin: 0 1em 1em 0;
}

.selection-button {
  margin: 0.5em 1em 1em 0;
}

.activation-button-container,
.page-size-button-container,
.selection-button-container {
  margin: 0 0 0.75em;
}

.activation-button,
.page-size-button {
  margin: 0 1em 0 0;
}

.activated-row-label,
.page-size-row-label,
.selected-rows-label  {
  margin: 0 0.25em 0 1em;
}
