<h1 class="page-title">Mat-Datatable-Demo</h1>
<div class="sort-button-container">
  <button mat-button class="sort-button" (click)="onSortFirstNameAsc()">Sort by firstName asc</button>
  <button mat-button class="sort-button" (click)="onSortFirstNameDesc()">Sort by firstNamedesc</button>
  <button mat-button class="sort-button" (click)="onSortBirthday()">Sort by birthday</button>
  <button mat-button class="sort-button" (click)="onResetSort()">Reset sort</button>
</div>
<div class="content-table mat-elevation-z8">
  <mat-datatable
    #datatable
    [dataSource]="dataSource"
    [columnDefinitions]="columnDefinitions"
    [displayedColumns]="displayedColumns"
    [rowSelectionMode]="currentSelectionMode"
    (rowClick)="onRowClick($event)"
  >loading...</mat-datatable>
</div>
<div class="selected-rows">
  <span class="selected-rows-label">Selected rows:</span><span>{{selectedRowsAsString}}</span>
</div>
<div class="selection-button-container">
  <mat-label class="mode-selection-label">Selection mode</mat-label>
  <mat-form-field appearance="fill" class="mode-selection">
    <mat-select [(value)]="currentSelectionMode">
      <mat-option value="none">none</mat-option>
      <mat-option value="single">single</mat-option>
      <mat-option value="multi">multi</mat-option>
    </mat-select>
  </mat-form-field>
  <button  mat-raised-button class="selection-button" (click)="onClearSelection()">Clear selection</button>
  <button  mat-raised-button class="selection-button" (click)="onSetSelection()">Set predefined selection</button>
</div>
<div class="activated-row">
  <span class="activated-row-label">Active row:</span><span>{{activatedRowAsString}}</span>
</div>
<div class="activation-button-container">
  <button  mat-raised-button class="activation-button" (click)="onClearActivated()">Clear activated row</button>
  <button  mat-raised-button class="activation-button" (click)="onSetActivated()">Set activated row</button>
</div>
<router-outlet></router-outlet>
