.page-title {
  margin: 0.25em 0.5em 0.75em;
}

.content-table {
  height: 400px;
  margin: 0 1em;
  overflow: auto;
}

.mode-selection-label {
  margin: 0 0.5em 0 0;
}

.mode-selection {
  margin: 0 1em 0 0;
}

.sort-button-container,
.selection-button-container,
.activation-button-container {
  margin: 0 0 0.75em 1em;
}

.sort-button,
.activation-button,
.selection-button {
  margin: 0 1em 0 0;
}

.current-sort,
.activated-row,
.selected-rows {
  margin: 2em 0 0.75em 1em;
}

.current-sort-label,
.activated-row-label,
.selected-rows-label {
  margin: 0 0.25em 0 0;
}
