.main {
  display: flex;
  flex-flow: column;
  height: 100vH;
  overflow: hidden;
  width: 100vw;
}

.header {
  display: grid;
  grid-template-columns: max-content auto max-content;
  margin: 0.25em 0.5em 0.75em;
}

.header-source {
  place-self: center center;
  margin: 0 2em;
}

.with-footer-toggle {
  justify-self: end;
  margin: 1.9rem 2rem 0 0;
}

.content-table {
  flex-grow : 1;
  margin: 0 1em 1.5em;
  overflow: auto;
}

.mode-selection-label {
  margin: 0 0.5em 0 0;
}

.mode-selection {
  margin: 0 1em 0 0;
}

.current-sort {
  margin: 0 0 0 1em;
  min-height: 40px;;
}

.current-sort-label {
  display: inline-block;
  padding: 10px 0 0;
}

.current-sort-list {
  display: inline-flex;
  margin: 0 0 0 1em;
}

.sort-button-container {
  margin: 0.5em 0 0 1em;
}

.activate-row-container {
  margin: .5em 0 0 1em;
}

.activation-button-container,
.selection-button-container {
  margin: 0 0 0.75em;
}

.activation-button,
.goto-page-button {
  margin: 0 1em 0 0;
}

.activated-row-container {
  margin: 0 0.75em 0 1em;
}

 .activated-row-label {
  margin: 0 0.25em 0 0;
}

.activated-row-value {
  display: inline-block;
  width: 2em;
}

.activation-button-container-inline {
  margin: 0;
}

.activation-scroll-button {
  margin: 0;
}

.sort-button,
.selection-button,
.filter-button,
.change-content-button {
  margin: 0 1em 1em 0;
}

.selected-rows-container {
  margin: 1em 0 0 1em;
}

.selected-rows-label  {
  margin: 0 0.25em 0 1em;
}

.selected-rows {
  margin: 2em 0 -14px 1em;
}

.selection-button {
  margin: 0.5em 1em 1em 0;
}

.filter-button-container {
  margin: 0 0 0 1em;
}

.current-filter-label {
  margin: 0 0.25em 0 1em;
}

.change-content-container{
  margin: .5em 0 0 1em;
}

.toggle-buttons-pane-button {
  bottom: 1em;
  color: white;
  position: absolute;
  right: 1em;
}
